#general .container .row {
	padding: 70px;
}

#traditions {
	margin-top: 5%;
}

#traditions .row {
	border: solid rgba(51, 0, 51, 0.7);
	padding: 20px;
}

#traditions th, #traditions td {
	padding: 7px;
}

#traditions img {
	height:120%;
	width:120%;
	text-align: center;
	padding-top: 40%;
}

#crest-title {
	text-transform: uppercase;
	color: purple;
	font-size: 20px;
}

#numbers .container {
	display: inline;
}

.circle-text-center h1 {
    font-size:40px;
}

.circle-text-center h1, #numbers p {
    font-family:"Quicksand";
    padding:0px;
    text-align: center;
    color: #fff;
}

.circle-wrapper {
    margin:auto;
    width:200px;
    height:200px;
    text-align:center;
    padding: 35px 40px;
    background: #190033;
    opacity: 0.85;
    border-radius: 100%;
    position: relative;
}

/* Mobile view */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.circle-wrapper{
		display: none;
	}
	#general .container .row {
		padding: 20px;
	}
	#general .container {
		width: 100%;
		right: 0;
	}
	#traditions .col-sm-4 {
		display: none;
	}
	#traditions {
		margin-top: 40px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.col-xs-offset-1 {
		margin: 0;
	}
}

/* Tablet view */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.circle-wrapper{
		display: none;
	}
	#traditions img {
		height: 90%;
		width: 90%;
		padding-top: 20%;
	}
}
