.chapter-header {
    background-image:url(../views/images/about/chapters/map.jpg);
}

table {
  overflow-x: auto;
  border-collapse: collapse;
}

.container {
    line-height:30px;
}

h1 {
    color:rgba(128,0,128,0.5);
    text-transform:uppercase;
}

.wrapper {
    width: 560px;
    background-color:rgba(128,0,128,0.1);
    padding:20px;
}

table tr:first-child td {
    text-transform:uppercase;
    color:rgba(128,0,128,0.5);
}

.fa-star {
    color:rgba(128,0,128,0.5);
}

#left-col {
  float: left;
}

#right-col {
  float: right;
}

/* Mobile view */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #left-col h1 {
    width: 100%;
    text-align: center;
  }
  #left-col {
    margin-left: 10%;
  }
  #right-col {
    margin-left: 10%;
    float: left;
  }
}

/* Tablet view */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #left-col {
    margin-left: 90px;
  }
  #right-col {
    margin-right: 100px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1198px) {
    #left-col {
      margin-left: 200px;
    }
    #right-col {
      margin-right: 205px;
    }
}
