body {
  background: rgba(51,0,51,0.1);
}

.history-header {
    background: url(../views/images/about/history/national.jpg);
}


h1 {
  color:rgba(128,0,128,0.5);
  text-transform:uppercase;
}

section {
    text-align:center;
}

#national {
  margin-top: 7%;
}

#history .col-md-6 {
  padding: 30px;
}
