
html,body {
    height:100%;
    font-family:'Mallanna','Helvetica Neue',Arial,sans-serif;
    font-size:18px;
}

.carousel {
    height:80%;
}
ul.nav li.dropdown:hover ul.dropdown-menu {
            display: block;
}


.item, .active, .carousel-inner{
    height:100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header{
    background-size:100% 100%;
}

.navbar-custom {
    margin: 0px;
    background-color:#FFFFFF;
    opacity:0.8;
}

.navbar-toggle
{
    border:1px solid #444;
}
.icon-bar
{
    display:block;
    width:22px;
    height:2px;
    border-radius:1px;
    border:1px solid #444;
}
.navbar-brand{
    padding:0px;
}
.navbar-brand img{
    height: 50px;
    width: 150px;
    padding:0px;
    float:left;
}
.nav.navbar-nav li a {
    text-transform:uppercase;
    font-family:'Quicksand','Helvetica Neue',Arial,sans-serif;
    font-size:18px;
    font-color:black;
    color:black;
}

#welcome {
    padding:30px 0;
}

#welcome .container{
    text-align:center;
    padding-left, padding-right:100px;
    background-color:rgba(128,0,128,0.1);
    opacity:0.85;
}
/*
#numbers{
    background-color:rgba(128,0,128,0.1);
}
*/
#numbers .container{
    padding-top:30px;
}

p{
    padding:30px;
}

h1{
    padding-top:20px;
}

h1,h2{
    text-align:center;
    font-family:"Quicksand";
    font-size:30px;
}

h3{
    font-size:50px;
}

h3, #numbers p {
    font-family:"Quicksand";
    padding:0px;
}
h4{
    text-transform:uppercase;
    font-size:40px;
    margin-bottom:0px;
    color:rgba(128,0,128,0.5);
}

img{
    height:15%;
    width:20%;
}

.circle-wrapper {
    margin:auto;
    width:200px;
    height:200px;
    text-align:center;
    padding: 35px 40px;
    background: rgba(128,128,128,0.2);
    border-radius: 100%;
    position: relative;
}
#news{
    padding-bottom:50px;
    background-color:rgba(128,0,128,0.1);
}
#news .wrapper{
    text-align:center;
    height:400px;
    width:100%;
    border-radius:0;
    background-color:#FFF;
    opacity:0.85;
}


.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

#news p {
   position: absolute;
   top: 225px;
   left: 0px;
   width: 100%;
   font-family:"Quicksand","Helvetica Neue",Arial,sans-serif;
   font-size:16px;
}

#news p span {
   color: white;
   letter-spacing:1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding:10px;
}
#new .container
{
    background: #FFFFFF;
}
.boxed-white {
    background: #FFFFFF;
  }

#event
{
    height:400px;
    /*padding-top:45px;
    padding-bottom: 10px;*/
    padding-top:50px;
    padding:20px;
    background-color: white;
    color:rgba(128,0,128,0.8);
    text-align:center;
}

#event img
{
    margin-top, margin-bottom: 0px;
    height:80%;
    width: 80%;

}


/*#flyer {
    height: 325px;
    background-image:url('../images/rush/flyer.jpg');
    height: 100%;
    width:100%;
}*/

p1 {
    font-size:17px;
}

p1,p2{
    font-family:"Quicksand","Helvetica Neue",Arial,sans-serif;
    vertical-align:middle;
    position:relative;
}

p2{
    font-size:20px;
    color:#ff66b2;
}

.company-social{
    padding-bottom: 10px;
    text-align:right;
    list-style:none;
}

.company-social li{
    display:inline-block;
}

.company-social{
    margin-top:25px;
}

.company-social li a i, .contact-icon{
    color:gray;
}

footer {
    background-color:black;
    padding:0px;
    text-align:center;
}

headerp {
    text-align:left;
    color:gray;
    padding-top: 10px;
    margin: 0 0 10px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
