.philanthropy-header {
    background: url(../views/images/about/philanthropy/header.jpg);
}

section {
    text-align:center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#bca-introduction h1, #date-auction h1 {
    text-transform:uppercase;
    font-family: 'Quicksand','Helvetica Neue',Arial,sans-serif;
    color:#FF9999;
    font-size:30px;
}

#bca-introduction h1 {
    text-align:center;
    padding-bottom:1%;
}

#bca-introduction{
    padding:20px;
    text-align:justify;
}



#main-img {
  width: 50%;
  margin:auto;
  text-align:center;
  padding: 2%;
}

#bca-images {
    background-color:black;
    margin-bottom:40px;
    padding: 40px;
}

#bca-images img {
    width:100%;
    height:100%;
}

#date-auction img {
    width:110%;
    height:110%;
}

#right {
  margin-top: 50px;
}

#top {
    margin-bottom:15px;
}


#date-auction .col-md-7 {
    margin-top:3%;
    text-align:left;
    padding:20px;
    background-color:rgba(256,256,256,0.5);
}

/* Mobile view */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #bca-introduction h1, #date-auction h1 {
    text-align: center;
    margin: 0;
  }
  #bca-images img {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #left img, #date-auction img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
  }
  #top {
    margin: 0;
  }
  #right {
    margin-top: 0;
  }
  #bca-introduction img {
    margin-bottom: 20px;
  }
  .subtitle {
    margin-left: 0 !important;
  }

}
/* Tablet view */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #date-auction img {
    margin-top: 10px;
    width: 70%;
    height: 70%;
  }
  #bca-introduction h1, #date-auction h1 {
    text-align: center;
    margin: 0;
  }
  #bca-images img {
    width: 50%;
    height: 50%;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  #bca-introduction img {
    width: 50%;
    height: 50%;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1198px) {
  #date-auction .col-md-7 {
    margin-top: 0;
  }
}
