html,body {
    height:100%;
    font-family:'Mallanna','Helvetica Neue',Arial,sans-serif;
    font-size:18px;
}

.navbar-custom {
    margin: 0px;
    background-color:#FFFFFF;
    opacity:0.8;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
            display: block;
}

.navbar-toggle
{
    border:1px solid #444;
}
.icon-bar
{
    display:block;
    width:22px;
    height:2px;
    border-radius:1px;
    border:1px solid #444;
}
.navbar-brand{
    padding:0px;
}
.navbar-brand img{
    height: 50px;
    width: 150px;
    padding:0px;
    float:left;
}
.nav.navbar-nav li a {
    text-transform:uppercase;
    font-family:'Quicksand','Helvetica Neue',Arial,sans-serif;
    font-size:18px;
    font-color:black;
    color:black;
}


img{
    height:15%;
    width:20%;
}

.company-social{
    padding-bottom: 10px;
    text-align:right;
    list-style:none;
}

.company-social li{
    display:inline-block;
}

.company-social{
    margin-top:25px;
}

.company-social li a i, .contact-icon{
    color:gray;
}

footer {
    background-color:black;
    padding:0px;
    text-align:center;
}

headerp {
    text-align:left;
    color:gray;
    padding-top: 10px;
    margin: 0 0 10px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

header {
    background-color:#FFCCCC;
    text-align:center;
    background-size: 100% 100%;
    position: relative;
    width:100%;
    height:40%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-bottom-style:solid;
    border-bottom-color:black;
    border-bottom-width:10px;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 50px 50px;
    text-align: center;
}

header .header-content .header-content-inner{
    font-family: 'Quicksand','Helvetica Neue',Arial,sans-serif;
}

h1 {
    background-color:rgba(0,0,0,0.5);
    color:white;
    text-transform:uppercase;
    font-family: 'Quicksand','Helvetica Neue',Arial,sans-serif;
    margin-left:30%;
    width:40%;
    font-size:50px;
    margin-top: 9%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:2px;
}

section {
    text-align:center;
    padding:40px;
}

h2,h3 {
    text-transform:uppercase;
    font-family: 'Quicksand','Helvetica Neue',Arial,sans-serif;
    color:#FF9999;
    font-size:30px;
}

h2{
    text-align:right;
}

h3{
    text-align:left;
}
#introduction .col-md-8 {
    padding:20px;
    text-align:left;
    border-style: dashed;
    border-color:#FF9999;
}

#bca {
    padding-top:10%;
    width:90%;
    height:90%;
}

#images {
    background-color:black;
    margin-bottom:40px;
}

#images img {
    width:100%;
    height:100%;
}

#date-auction .container {
    padding:30px;
    background-color:#FFCCCC;
}

#date-auction img {
    width:300%;
    height:300%;
}

h3 {
    margin-left:7%;
}

#top {
    margin-bottom:10px;
}

#right img {
    width:400%;
    height:400%;
}

#date-auction .col-md-7 {
    margin-top:3%;
    text-align:left;
    padding:20px;
    background-color:rgba(256,256,256,0.5);
}
