header {
  height: 10%;
}


h1{
    font-family:'Quicksand','Helvetica Neue',Arial,sans-serif;
    color:#330033;
    font-size:50px;
    text-transform:uppercase;
    margin-left:15%;
    text-align: left !important;
}

img {
    height:100%;
    width:100%;
}

#profile .container {
    width:70%;
    padding:40px;
    background-color:rgba(128,0,128,0.1);
}

#profile {
  padding-bottom:0;
}

h2 {
    color:#660066;
    text-transform:uppercase;
    font-size:20px;
}

section .col-md-6 {
    line-height:40px;
}

#info {
    background-color:rgba(256,256,256,0.5);
    padding:20px;
}

h2{
    font-family:'Quicksand','Helvetica Neue',Arial,sans-serif;
    display:inline;
}

p{
  font-family:'Quicksand','Helvetica Neue',Arial,sans-serif;
  display:inline;
}

section {
    /*padding:30px;*/
    text-align: left;
}

#right-col {
    text-align:right;
}

input {
    outline:0;
}

#nav {
  padding-top:0;
}

#nav .container {
    padding-bottom:30px;
}

#nav .container .row li {
    list-style:none;
}

#nav .container .row li a {
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    color:#660066;
    font-family:'Quicksand','Helvetica Neue',Arial,sans-serif;
    padding:5px;

}

/* Mobile view */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #profile .container {
    width: 100%;
  }
  h1 {
    text-align: center !important;
    margin-left: 0;
  }
  #info {
    margin-top: 20px;
  }
}

/*Tablet view*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  h1 {
    text-align: center !important;
    margin-left: 0;
  }
  #info {
    margin-top: 20px;
  }
}
