.rush-header{
    background:url(../views/images/rush/rush.jpg);
}

section {
    text-align:center;
    padding:20px;
}


#title .wrapper h1 {
    padding:20px;
    font-size:35px;
    text-transform:uppercase;
    color:white;
}

#title .wrapper{
    /*border-style:solid;
    border-color:rgba(51,0,102,0.3);*/
    background-color:#110011;
    margin:20px;
    padding:20px;
}


#about .wrapper {
    margin:0 auto;
    height:350px;
    width:500px;
    background-color:#110011;
}

#about {
    padding-bottom:30px;
}

#rush img {
    width:60%;
    height:60%;
    padding-bottom:20px;
}

#rush .container {
    padding:40px;
    background-color:rgba(17, 0, 17,0.1);
    width:60%;
}

#rush #events {
    padding:20px;
}

#info h1, #rush h1, #more-info-title h1 {
    text-transform:uppercase;
    color:#110011;
}



p1 {
    font-size:14px;
}

#info .container {
    border-color:#110011;
    padding:20px;
    border-style:dashed;
    width:65%;
}


#more-info-title h1 {
    text-align:left;
    padding-bottom:0px;
    padding-left:10%;
}

#more-info .col-md-4 h1 {
    font-size:20px;
    text-align:center;
    color:white;
}

#more-info {
    background-color:#000;
    margin-bottom:30px;
    text-align: center;
}

#more-info p {
  color: white;
}

#more-info #column-2 a {
  color: white;
  text-decoration: none;
}


#more-info #column-1 {
    margin-top: 2%;
    padding:20px;
    border-style:solid;
    border-width:2px;
    border-color:gray;
}

#more-info img {
    height:100%;
    width:100%;
}

iframe {
    padding-bottom:20px;
}

p2 {
    text-transform:uppercase;
    font-weight:2px;
    color:rgb(17, 0, 17);
}

p3{
    text-transform:uppercase;
    color:rgba(128,128,128,0.7);
}


#more-info .col-sm-1 {
  line-height: 40px;
}

#more-info .col-sm-4 {
  padding-top: 5px;
  line-height: 30px;
}

/* Mobile view */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  h1, #title .wrapper h1 {
    font-size: 24px;
  }
  #title .wrapper {
    padding: 5px;
  }
  #info .container {
    width: 100%;
  }
  #rush .container, #rush img {
    width: 100%;
  }
  #column-1 {
    margin-bottom: 10px;
    width: 90%;
    left: 5.5%;
  }
}

/*Tablet view*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1, #title .wrapper h1 {
    font-size: 24px;
  }
  #title .wrapper {
    padding: 5px;
  }
  #info .container {
    width: 100%;
  }
  #rush .container, #rush img {
    width: 100%;
  }
  #column-1, #column-2, #column-3 {
    margin-bottom: 20px;
    width: 50%;
    left: 24%;
  }
}
