#class span {
  font-family:'Mallanna','Helvetica Neue',Arial,sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(128,0,128,0.7);
}
#class span, #class h1 {
  display: inline;
  margin-bottom:5px !important;
}
.roster-header {
  background: #110011;
}


#class img {
    height:90%;
    width:90%;
    float: right;
}

#class h1 {
    /*margin-left:5%;*/
    font-family:'Quicksand','Helvetica Neue',Arial,sans-serif;
    text-align: left !important;
    color: #190033;
}

section .container .row .col-md-5 p{
    display:inline;
}


#class p, #class p1 {
    font-family:'Mallanna','Helvetica Neue',Arial,sans-serif;
    font-size:18px;
}

#class p1 {
    color:purple;

}

#names {
    background-color:rgba(128,0,128,0.1);
    padding:10px;
}

section {
    margin:20px;
}

#zeta {
    width:40% !important;
    height:40% !important;
}

#photo {
    text-align:center;
}

/* Mobile view */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .roster-header h1 {
    font-size: 30px;
    margin-top: 120px;
    margin-left: 0;
    text-align: center !important;
  }
  h1 {
    text-align: center !important;
  }
  #names {
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
  }
  #class img {
    float: none;
  }
  section .container .row .col-md-6 {
    text-align: center;
  }
}
/* Tablet view */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .roster-header h1 {
    font-size: 40px;
    margin-top: 377px;
  }
  h1 {
    text-align: center !important;
  }
  #names {
    width: 648px;
    margin-top: 20px;
    margin-left: 50px;
  }
  #class img {
    float: none;
  }
  section .container .row .col-md-6 {
    text-align: center;
  }
}
