.sisters-header {
    background:url(../views/images/sisters/header.jpg);
}

section {
    text-align:center;
    padding:20px;
}


#profile {
    height:100%;
    width:100%;
}

#profiles .container {
    padding-top:30px;
}

#profiles h2 {
    font-family:"Quicksand","Helvetica Neue",Arial,sans-serif;
    font-size:20px;
}

.row {
    padding-bottom:10px;
}

#board .container {
    padding-left:7%;
    text-align:center;
    overflow:hidden;
}

.wrapper {
    padding:20px;
    background-color: rgba(128,0,128,0.1);
    overflow: hidden;
}

#inner-wrapper{
    background-color: rgba(256,256,256,0.5);
}

#cabinet h1, #board .col-md-5 h1 {
    margin-bottom:0px;
    text-transform:uppercase;
    font-size:30px;
    color:rgba(128,0,128,0.5);
}

#board h2 {
    text-transform:uppercase;
    color:rgba(128,0,128,0.8);
    font-size:20px;
}

p {
    margin:0px;
}

.fa-envelope {
    color:rgba(128,128,128,0.8);
}

hr{
    width:75%;
    color:black;
}

#cabinet .wrapper {
    overflow:hidden;
}

#right {
    float:right;
}

#left {
    float:left;
}

/* Mobile view */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #right, #left {
    float: none;
  }
  #cabinet {
    padding: 0;
  }
  #profile {
    height: 70%;
    width: 70%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #profile {
    height: 50%;
    width: 50%;
  }
}
