<html>
  <body>
    <footer>
    <div class="boxed-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-6" id="copyright">
            <headerp>Copyright &copy; 2018 by UIUC alpha Kappa Delta Phi, Inc. All rights reserved.</headerp>
          </div>
          <div class="col-md-6">
            <address>
                <ul class="company-social">
                  <li><a href="https://www.facebook.com/uiuc.akdphi" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                  <li><a href="https://www.instagram.com/uiucakdphi" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                </ul>
            </address>
          </div>
        </div>
      </div>
  </footer>


  <!-- jQuery -->
  <script src="js/jquery.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/jquery.scrollTo.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <!-- Script to Activate the Carousel -->
  <script>
    $('.carousel').carousel({
      interval: 5000 //changes the speed
    })
  </script>

  <!-- Plugin JavaScript -->
  </body>
</html>
