<!DOCTYPE html>
<html>
  <head>
    <!--fonts-->
    <link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UIUC aKDPhi | Upsilon Chapter</title>

    <!-- Stylesheets -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/profile.css">
    <link rel="stylesheet" href="../../css/style.css">

    </head>

    <header>
      <div id="header"></div>
    </header>



  <body id="page-top">
     <section id="profile">
      <h1>#117 Crystal Zhang</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src='../images/sisters/profiles/crystal.jpg'>
          </div>
          <div id="info" class="col-md-6">
            <h2>Nickname:  </h2><p>affoGOT-TO</p><br>
            <h2>Crossed: </h2><p>Spring 2016</p><br>
            <h2>Ethnicity: </h2><p>Chinese</p><br>
            <h2>Hometown:  </h2><p>Chicago, IL</p><br>
            <h2>Major: </h2><p>Food Science</p><br>
            <h2>Class of:  </h2><p>2018</p><br>
            <h2>Favorite Quote:  </h2><p>“You’ve gotta dance like there’s nobody watching, Love like you’ll never be hurt, Sing like there’s nobody listening, And live like it’s heaven on earth.” ~William W. Purkey</p><br>
            <h2>Best thing about aKDPhi:   </h2><p> I am able to be myself around my sisters who always provide me unconditional support.</p><br>
          </div>
        </div>
      </div>
     </section>

     <section id="nav">
      <div class="container">
        <div class="row">
          <div id="left-col" class="col-md-6">
            <li><a href="../sisters.html" class="button">← Sisters</a></li>
           </div>
          <div id="right-col" class="col-md-6">
            <li><a href="carolzhu.html" class="button">#118 Carol Zhu →</a></li>
            <li><a href="sallywu.html" class="button">← #116 Sally Wu</a></li>
          </div>
        </div>
      </div>
     </section>


    <footer id="footer"></footer>


      <!-- jQuery -->
      <script src="../../js/jquery-3.0.0.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#header").load("../../partials/header.html");
          $("#footer").load("../../partials/footer.html");
      });
      </script>

      <script src="../../js/jquery.js"></script>
      <script src="../../js/jquery.min.js"></script>
      <script src="../../js/jquery.easing.min.js"></script>
      <script src="../../js/jquery.scrollTo.js"></script>
      <script src="../../js/bootstrap.min.js"></script>
      <script src="../../js/bootstrap.js"></script>
      <script src="../../js/bootstrap.min.js"></script>


    </body>
</html>
