<!DOCTYPE html>
<html>
  <head>
    <!--fonts-->
    <link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UIUC aKDPhi | Upsilon Chapter</title>

    <!-- Stylesheets -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/profile.css">
    <link rel="stylesheet" href="../../css/style.css">

    </head>

    <header>
      <div id="header"></div>
    </header>



  <body id="page-top">
     <section id="profile">
      <h1>#113 Marissa Casaclang</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src='../images/sisters/profiles/marissa.jpg'>
          </div>
          <div id="info" class="col-md-6">
            <h2>Nickname:  </h2><p>Eminem</p><br>
            <h2>Crossed: </h2><p>Spring 2016</p><br>
            <h2>Ethnicity: </h2><p>Filipino</p><br>
            <h2>Hometown:  </h2><p>Naperville, IL</p><br>
            <h2>Major: </h2><p>Undeclared</p><br>
            <h2>Class of:  </h2><p>2019</p><br>
            <h2>Favorite Quote:  </h2><p>"Believe in your flyness, conquer your shyness" - Kanye West</p><br>
            <h2>Best thing about aKDPhi:   </h2><p>aKDPhi has given me some of my best friends & has allowed me the opportunity to grow both personally & socially.</p><br>
          </div>
        </div>
      </div>
     </section>

     <section id="nav">
      <div class="container">
        <div class="row" style="text-align:center">
          <div class="col-md-4">
            <li><a href="jasminewang.html" class="button">← #111 Jasmine Wang</a></li>
          </div>
          <div class="col-md-4">
            <li><a href="../sisters.html" class="button">Sisters</a></li>
           </div>
          <div class="col-md-4">
            <li><a href="sallywu.html" class="button">#116 Sally Wu →</a></li>
          </div>
        </div>
      </div>
     </section>


    <footer id="footer"></footer>


      <!-- jQuery -->
      <script src="../../js/jquery-3.0.0.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#header").load("../../partials/header.html");
          $("#footer").load("../../partials/footer.html");
      });
      </script>

      <script src="../../js/jquery.js"></script>
      <script src="../../js/jquery.min.js"></script>
      <script src="../../js/jquery.easing.min.js"></script>
      <script src="../../js/jquery.scrollTo.js"></script>
      <script src="../../js/bootstrap.min.js"></script>
      <script src="../../js/bootstrap.js"></script>
      <script src="../../js/bootstrap.min.js"></script>


    </body>
</html>
