<!DOCTYPE html>
<html>
  <head>
  <!--fonts-->
  <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UIUC aKDPhi | Upsilon Chapter</title>

  <!-- Stylesheets -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/about.css"> <!-- Style sheet specific to this page -->
  <link rel="stylesheet" href="../css/style.css"> <!-- Main style sheet -->

  </head>

  <header>
    <div id="header"></div>
  </header>

  <body id="page-top">

  <!-- Header - styling in style.css -->
    <div class="main-heading about-header">
      <div class="header-content">
        <div class="header-content-inner">
        </div>
      </div>
    </div>

    <div class="title">
      <div class="container">
        <h1>General Information</h1>
      </div>
    </div>

    <!--Number Infographic-->
    <section id="numbers">
        <div class="container">
          <div class="row text-center">
              <div class="col-md-3 text-center">
                <div class="circle-wrapper">
                  <div class="circle-text-center">
                    <h1>6000</h1>
                    <p><strong>sisters</strong></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div class="circle-wrapper">
                  <div class="circle-text-center">
                    <h1>53</h1>
                    <p><strong>chapters</strong></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div class="circle-wrapper">
                  <div class="circle-text-center">
                    <h1>4</h1>
                    <p><strong>letters</strong></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div class="circle-wrapper">
                  <div class="circle-text-center">
                    <h1>1</h1>
                   <p><strong>sisterhood</strong></p>
                  </div>
                </div>
              </div>
          </div>
        <div>
    </section>

<!--General Information-->
    <section id="general">
      <div class="container full-width background-gray">
          <div class="row">
              <p>alpha Kappa Delta Phi is an international Asian-interest sorority with 53 chapters located at numerous universities across the United States and in Canada. Thousands of undergraduate and alumnae sisters support the rapidly growing network of strong and successful women in the organization. We are a proud charter member of the National APIA Panhellenic Association, which it helped charter in 2006. Visit the national website <a href="http://www.akdphi.org">here</a> and the national aKDPhi Facebook page <a href="http://www.facebook.com/akdphi">here</a>.</p>
        </div>
      </div>
    </section>

<!--Mission Statement-->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Mission Statement</h1>
            <p class="text-justify">alpha Kappa Delta Phi Sorority, Inc. fosters the making of successful leaders by assisting and challenging our members to reach their maximum potential. We strive to maintain the highest levels of integrity and innovation in the promotion of sisterhood, philanthropy, scholastic excellence, and Asian-Awareness in the community while creating lifelong relationships.</p>
            <br>
            <div class="text-left">
              <h1>Vision Statement</h1>
              <p>alpha Kappa Delta Phi Inc. will be the most respected, premier network of innovative female leaders within the community by:</p>
                <ul>
                  <li>Encouraging the growth of our members through cultural diversity and the expression of individuality;</li>
                  <li>Empowering our members to become pioneers for philanthropic, cultural, and scholastic programs worldwide;</li>
                  <li>Developing strategic collaborations and partnerships; and</li>
                  <li>Supporting initiatives promoting the sustainability of our organization and its mission.</li>
                </ul>
            </div>
          </div>

          <!-- Traditions -->
          <div class="col-md-5 col-xs-offset-1" id="traditions">
            <div class="row">
              <h1>Sorority Traditions</h1>
              <div class="col-sm-4">
                <img id="crest" src="images/about/crest.jpg">
              </div>
              <div class="col-sm-8 text-left">
                <table>
                  <tr>
                    <td id="crest-title">Creed</td>
                    <td>Love and Friendship</td>
                  </tr>
                  <tr>
                    <td id="crest-title">Motto</td>
                    <td>"Timeless Friendship Through Sisterhood"</td>
                  </tr>
                  <tr>
                    <td id="crest-title">Colors</td>
                    <td>Purple and White</td>
                  </tr>
                  <tr>
                    <td id="crest-title">Symbol</td>
                    <td>Hourglass</td>
                  </tr>
                  <tr>
                    <td id="crest-title">Stone</td>
                    <td>Diamond</td>
                  </tr>
                  <tr>
                    <td id="crest-title">Flower</td>
                    <td>Iris</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer id="footer"></footer>


      <!-- Load scripts -->
      <script src="../js/jquery-3.0.0.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#header").load("../partials/header.html");
          $("#footer").load("../partials/footer.html");
      });
      </script>

    <script src="../js/jquery.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/jquery.scrollTo.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/bootstrap.min.js"></script>



    </body>
</html>
