<!DOCTYPE html>
<html>
  <head>
    <!--fonts-->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UIUC aKDPhi | Upsilon Chapter</title>

    <!-- Stylesheets -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/chapters.css"> <!-- Chapters page stylesheet -->
    <link rel="stylesheet" href="../css/style.css"> <!-- Main stylesheet -->
  </head>

  <header>
    <div id="header"></div>
  </header>

  <body id="page-top">

  <!-- Main header - styling in style.css -->
    <div class="subheading chapter-header">
      <div class="header-content">
        <div class="header-inner-content">
        </div>
      </div>
    </div>

    <div class="title">
      <div class="container">
        <h1>Chapters</h1>
      </div>
    </div>


    <!-- Each section is a table with the Greek letter (for full-fledged) and chapter on the left column,
          and date of establishment on the right column. --> 

    <section>
      <div class="container">
        <div class="row">

        <!-- Full Fledge chapters -->

          <div id="left-col">
            <h1>Full Fledged</h1>
            <div class="wrapper">
              <table border="0" cellpadding="0">
              <tbody>
              
              <tr>
              <td></td>
              <td><strong>School</strong></td>
              <td><strong>Date of Establishment</strong></td>
              </tr>

              
              <tr>
              <td> Β</td>
              <td> University of California, Davis</td>
              <td> Spring 1990</td>
              </tr>


              <tr>
              <td> Δ</td>
              <td> University of California, Santa Cruz</td>
              <td> Spring 1992</td>
              </tr>


              <tr>
              <td> Ζ</td>
              <td> Stanford University</td>
              <td> Spring 1993</td>
              </tr>

              <tr>
              <td> Η</td>
              <td> University of Texas, Austin</td>
              <td> Fall 1993</td>
              </tr>

              <tr>
              <td> Θ</td>
              <td> University of Pennsylvania</td>
              <td> Fall 1994</td>
              </tr>

              <tr>
              <td> Ι</td>
              <td> University of Houston</td>
              <td> Fall 1994</td>
              </tr>

              <tr>
              <td> Κ</td>
              <td> University of California, Irvine</td>
              <td> Fall 1994</td>
              </tr>

              <tr>
              <td> Λ</td>
              <td> University of Michigan, Ann Arbor</td>
              <td> Winter 1996</td>
              </tr>

              <tr>
              <td> Μ</td>
              <td> California State University, Sacramento</td>
              <td> Spring 1996</td>
              </tr>

              <tr>
              <td> Ν</td>
              <td> Pennsylvania State University</td>
              <td> Fall 1994</td>
              </tr>

              <tr>
              <td> Ξ</td>
              <td> San Jose State University</td>
              <td> Spring 1995</td>
              </tr>

              <tr>
              <td> Ο</td>
              <td> California Polytechnic State University, San Luis Obispo</td>
              <td> Spring 1996</td>
              </tr>

              <tr>
              <td> Π</td>
              <td> University of Washington</td>
              <td> Spring 1998</td>
              </tr>

              <tr>
              <td> Ρ</td>
              <td> State University of New York, Buffalo</td>
              <td> Spring 1997</td>
              </tr>

              <tr>
              <td> Σ</td>
              <td> University of Virginia</td>
              <td> Fall 1999</td>
              </tr>

              <tr>
              <td> T</td>
              <td> Cornell University</td>
              <td> Spring 1997</td>
              </tr>

              <tr>
              <td><strong> Υ</strong></td>
              <td><strong> University of Illinois, Urbana Champaign
                <i class="fa fa-star fa-0.5x"></i></strong></td>
              <td><strong> Spring 2000</strong></td>
              </tr>

              <tr>
              <td> Φ</td>
              <td> The Florida State University</td>
              <td> Spring 2001</td>
              </tr>

              <tr>
              <td>X</td>
              <td>University of Oklahoma</td>
              <td> Fall 2005</td>
              </tr>

              <tr>
              <td>Ψ</td>
              <td>Rutgers University</td>
              <td>Spring 2000</td>
              </tr>

              <tr>
              <td>AA</td>
              <td>University of South Florida</td>
              <td>Spring 2006</td>
              </tr>

              <tr>
              <td>AΒ</td>
              <td>Duke University</td>
              <td>Spring 2006</td>
              </tr>

              <tr>
              <td>AΓ</td>
              <td>State University of New York, Stony Brook</td>
              <td>Winter 1999</td>
              </tr>

              <tr>
              <td>AΔ</td>
              <td>University of Florida</td>
              <td>Fall 2008</td>
              </tr>

              </tbody>
              </table>
            </div>
          </div> <!-- end of full fledged chapters -->


          <!-- Associate chapters-->

          <div id="right-col">
            <h1>Associate</h1>
            <div class="wrapper">
              <table border="0" cellpadding="5">
              <tbody>
              <tr>
              <td></td>
              <td><strong>School</strong></td>
              <td><strong>Date of Establishment</strong></td>
              </tr>

              <tr>
              <td></td>
              <td> Boston University</td>
              <td> Spring 1996</td>
              </tr>

              <tr>
              <td></td>
              <td> The Johns Hopkins University</td>
              <td> Winter 1997</td>
              </tr>

              <tr>
              <td></td>
              <td> Baylor University</td>
              <td> Fall 1997</td>
              </tr>

              <tr>
              <td></td>
              <td> University of Illinois, Chicago</td>
              <td> Fall 1998</td>
              </tr>

              <tr>
              <td></td>
              <td> University of California, Santa Barbara</td>
              <td> Spring 2001</td>
              </tr>

              <tr>
              <td></td>
              <td> University of North Carolina, Chapel Hill</td>
              <td> Spring 1996</td>
              </tr>

              <tr>
              <td></td>
              <td> State University of New York, Binghamton</td>
              <td> Spring 2003</td>
              </tr>

              <tr>
              <td></td>
              <td> The City University of New York, Baruch College</td>
              <td> Fall 2009</td>
              </tr>

              <tr>
              <td></td>
              <td> Michigan State University</td>
              <td> Fall 1998</td>
              </tr>

              <tr>
              <td></td>
              <td> Virginia Commonwealth University</td>
              <td> Spring 2006</td>
              </tr>

              <tr>
              <td></td>
              <td> Virginia Polytechnic Institute and State University</td>
              <td> Spring 2002</td>
              </tr>

              <tr>
              <td></td>
              <td> James Madison University</td>
              <td> Spring 2003</td>
              </tr>

              <tr>
              <td></td>
              <td> University of Wisconsin, Madison</td>
              <td> Spring 2008</td>
              </tr>

              <tr>
              <td></td>
              <td> University of Chicago</td>
              <td> Fall 2010</td>
              </tr>

              </tbody>
              </table>
            </div><br> <!-- end of associate chapters -->

            <!-- Colony chapters -->

            <h1>Colonies</h1>
            <div class="wrapper">
              <table border="0" cellpadding="5">
              <tbody>

              <tr>
              <td></td>
              <td><strong>School</strong></td>
              <td><strong>Date of Establishment</strong></td>
              </tr>

              <tr>
              <td></td>
              <td> University of Maryland, College Park</td>
              <td> Fall 2002</td>
              </tr>

              <tr>
              <td></td>
              <td> Purdue University at West Lafayette</td>
              <td> Fall 2003</td>
              </tr>

              <tr>
              <td></td>
              <td> Carnegie Mellon University</td>
              <td> Fall 2003</td>
              </tr>

              <tr>
              <td></td>
              <td> University of Maryland, Baltimore County</td>
              <td> Fall 2005</td>
              </tr>

              <tr>
              <td></td>
              <td> University of Toronto</td>
              <td> Winter 2010</td>
              </tr>

              <tr>
              <td></td>
              <td> New York University</td>
              <td> Spring 1999</td>
              </tr>

              <tr>
              <td></td>
              <td> St. John's University</td>
              <td> Spring 2013</td>
              </tr>

              <tr>
              <td></td>
              <td> University of Texas at Arlington</td>
              <td> Spring 2015</td>
              </tr>

              <tr>
              <td></td>
              <td> California State University, San Marcos</td>
              <td> Spring 2015</td>
              </tr>

              <tr>
              <td></td>
              <td> University of Iowa</td>
              <td> Spring 2016</td>
              </tr>

              <tr>
              <td></td>
              <td> George Mason University</td>
              <td> Fall 2016</td>
              </tr>

              <tr>
              <td></td>
              <td> San Francisco State University</td>
              <td> Fall 2017</td>
              </tr>

              <tr>
              <td></td>
              <td> Northern Illinois University</td>
              <td> Fall 2017</td>
              </tr>

              </tbody>
              </table>
            </div> <!-- end of colony chapters -->
          </div> <!-- end col-right -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section>


    <footer id="footer"></footer>


      <!-- jQuery -->
      <script src="../js/jquery-3.0.0.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#header").load("../partials/header.html");
          $("#footer").load("../partials/footer.html");
      });
      </script>
      <script src="../js/jquery.js"></script>
      <script src="../js/jquery.min.js"></script>
      <script src="../js/jquery.easing.min.js"></script>
      <script src="../js/jquery.scrollTo.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/bootstrap.js"></script>
      <script src="../js/bootstrap.min.js"></script>



    </body>
</html>
