<!DOCTYPE html>
<html>
  <head>
    <!--fonts-->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UIUC aKDPhi | Upsilon Chapter</title>

    <!-- Stylesheets -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
  </head>

  <header>
    <div id="header"></div>
  </header>


  <body id="page-top">

    <div class="subheading contact-header">
      <div class="header-content">
        <div class="header-inner-content">
          <h1 class="subtitle">Contact</h1>
        </div>
      </div>
    </div>

    <section id="contact-form">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <i class="fa fa-envelope fa-4x"></i>
            <h1>Questions?</h1><br>
            <p>Feel free to contact us with any general questions and we will get back to you as soon as we can!</p>
          </div>
          <div class="col-md-8">
            <form action="https://formspree.io/vwang96@gmail.com" method="POST">
              <input type="text" name="name" placeholder="Name" class="input-box-sm"></input>
              <input type="email" name="_replyto" placeholder="Email" class="input-box-sm"></input>
              <input type="text" name="subject" placeholder="Subject" class="input-box-sm"></input>
              <textarea type="text" name="message" placeholder="Message" class="input-box-lg"></textarea>
              <input type="submit" value="Send" class="btn btn-lg">

              <input type="hidden" name="_next" value="/views/thanks.html" />
              <input type="hidden" name="_subject" value="New message from uiucakdphi.org" />
            </form>
          </div>
        </div>
      </div>
    </section>


    <section class="board">
      <div class="container">
        <div class="row">
          <div class="col-md-3 right-border">
            <h2>President</h2>
            <p>Sarah Park</p>
             <p>
            <a href="mailto:uiuc.kdphi.president@gmail.com">uiuc.kdphi.president@gmail.com</a>
            </p>
          </div>
          <div class="col-md-3 right-border">
            <h2>VP Internal</h2>
            <p>Michelle Moy</p>
             <p>
            <a href="mailto:uiuc.kdphi.vpinternal@gmail.com">uiuc.kdphi.vpinternal@gmail.com</a>
            </p>
          </div>
          <div class="col-md-3 right-border">
            <h2>VP External</h2>
            <p>Cindy Tan</p>
             <p>
            <a href="mailto:uiuc.akdphi.vpexternal@gmail.com">uiuc.akdphi.vpexternal@gmail.com</a>
            </p>
          </div>
          <div class="col-md-3">
            <h2>VP Service</h2>
            <p>Anita Rong</p>
             <p>
            <a href="mailto:uiuc.kdphi.service@gmail.com">uiuc.kdphi.service@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer"></footer>


      <!-- jQuery -->
      <script src="../js/jquery-3.0.0.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#header").load("../partials/header-views.html");
          $("#footer").load("../partials/footer.html");
      });
      </script>
      <script src="../js/jquery.js"></script>
      <script src="../js/jquery.min.js"></script>
      <script src="../js/jquery.easing.min.js"></script>
      <script src="../js/jquery.scrollTo.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/bootstrap.js"></script>
      <script src="../js/bootstrap.min.js"></script>



    </body>
</html>
