<!DOCTYPE html>
<html>
  <head>
    <!--fonts-->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UIUC aKDPhi | Upsilon Chapter</title>

    <!-- Stylesheets -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css"> <!-- Main stylesheet -->
  </head>

  <header>
    <div id="header"></div>
  </header>


  <body id="page-top">

    <div class="title">
      <div class="container">
        <h1>Contact</h1>
      </div>
    </div>

    <!-- Contact form using Formspree, which sends an email to the president's email. -->
    <section id="contact-form">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <i class="fa fa-envelope fa-4x"></i>
            <h1>Questions?</h1><br>
            <p>Feel free to contact us with any general questions and we will get back to you as soon as we can!</p>
          </div>
          <div class="col-md-8">
            <form action="https://formspree.io/uiuc.kdphi.president@gmail.com" method="POST">
              <input type="text" name="name" placeholder="Name" class="input-box-sm"></input>
              <input type="email" name="_replyto" placeholder="Email" class="input-box-sm"></input>
              <input type="text" name="subject" placeholder="Subject" class="input-box-sm"></input>
              <textarea type="text" name="message" placeholder="Message" class="input-box-lg"></textarea>
              <input type="submit" value="Send" class="btn btn-lg">

              <input type="hidden" name="_next" value="/views/thanks.html" />

              <!-- subject line of the email -->
              <input type="hidden" name="_subject" value="New message from uiucakdphi.org" /> 
            </form>
          </div>
        </div>
      </div>
    </section> <!-- end contact form -->


    <!-- Contact info for exec board -->
    <section id="contact">
      <div class="container text-center">
        <div class="row">

        <!-- Exec board image -->
          <div class="col-md-6">
            <img src="./images/sisters/exec.jpg"/>
          </div>

          <!-- Exec board emails -->
          <div class="col-md-6 board">

          <!-- Row 1-->
            <div class="row">

                <h2>President</h2>
                <p>Sally Wu</p>
                <p><a href="mailto:uiuc.kdphi.president@gmail.com">uiuc.kdphi.president@gmail.com</a></p>
                <hr>

            </div> <!-- end row 1 -->

            <!-- Row 2-->
            <div class="row">

              <div class="col-md-6">
                  <h2>VP Internal</h2>
                  <p>Vanessa Wang</p>
                   <p><a href="mailto:uiuc.kdphi.vpinternal@gmail.com">uiuc.kdphi.vpinternal@gmail.com</a></p>
                   <hr>
                </div>

                <div class="col-md-6">
                  <h2>VP External</h2>
                  <p>Diana Zhu</p>
                  <p><a href="mailto:uiuc.akdphi.vpexternal@gmail.com">uiuc.akdphi.vpexternal@gmail.com</a></p>
                  <hr>
                </div>

            </div> <!-- end row 2 -->

            <!-- Row 3 -->
            <div class="row">

              <div class="col-md-6">
                  <h2>VP Service</h2>
                  <p>Teresa Liu</p>
                   <p><a href="mailto:uiuc.kdphi.service@gmail.com">uiuc.kdphi.service@gmail.com</a></p>
                   <hr>
                </div>

                <div class="col-md-6">
                  <h2>VP Finance</h2>
                  <p>Hitomi Hayashi</p>
                  <p><a href="mailto:uiuc.akdphi.treasurer@gmail.com">uiuc.akdphi.treasurer@gmail.com</a></p>
                </div>

            </div> <!-- end row 3 -->

          </div> <!-- end exec contact info -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end exec contact -->

    <footer id="footer"></footer>


      <!-- jQuery -->
      <script src="../js/jquery-3.0.0.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#header").load("../partials/header.html");
          $("#footer").load("../partials/footer.html");
      });
      </script>
      <script src="../js/jquery.js"></script>
      <script src="../js/jquery.min.js"></script>
      <script src="../js/jquery.easing.min.js"></script>
      <script src="../js/jquery.scrollTo.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/bootstrap.js"></script>
      <script src="../js/bootstrap.min.js"></script>



    </body>
</html>
