<!DOCTYPE html>
<html>
  <head>
    <!--fonts-->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UIUC aKDPhi | Upsilon Chapter</title>

    <!-- Stylesheets -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/history.css"> <!-- History stylesheet -->
    <link rel="stylesheet" href="../css/style.css"> <!-- Main stylesheet -->
  </head>

  <header>
    <div id="header"></div>
  </header>


  <!-- Main header - styling in style.css -->
  <body id="page-top">
    <div class="subheading history-header">
      <div class="header-content">
        <div class="header-inner-content">
        </div>
      </div>
    </div>

    <!-- Page title -->
    <div class="title">
      <div class="container">
        <h1>History</h1>
      </div>
    </div>


    <!-- Main section -->
    <section id="history">

      <div class="container">

        <div class="row">

          <!-- National history -->
          <div class="col-md-6"  id="national">
            <h1>National History</h1>
              <p>alpha Kappa Delta Phi was first established at the University of California Berkeley in the fall of 1989, and was recognized by the College Panhellenic Association in the spring of 1990. The founding sisters, Susan Kim, Fannie Pon, Jill Yoshimura, and Reina Yuan, devoted themselves to creating a strong organization that would have the ideals of sisterhood, scholarship, leadership and Asian Awareness.<br><br>
              With the ideals of these women in mind, hundreds of sisters have since crossed into an incredible organization that the incredible founding sisters produced. While sharing common goals that encouraged pushing the individual forward in the community as well in herself, alpha Kappa Delta Phi has given many women the opportunity to create unbreakable friendships. Since the first chapter was established, alpha Kappa Delta Phi has grown to be the largest nationwide Asian-interest sorority and is now 54 chapters strong and still growing.</p>
          </div> <!-- end national history -->

          <!-- Chapter history -->
          <div class="col-md-6" id="chapter">
            <h1 id="chapter-title">Chapter History</h1>
            <p>In the Spring of 2000, the 28th chapter of alpha Kappa Delta Phi was established at the University of Illinois at Urbana-Champaign. Eleven extraordinary women came together to form what would later be a recognized APIA organization on campus. The Charter Class, Amy Duong, Cindy Duong, Michelle Garcia, Melanie Gayagoy, Olivia Hsu, Angela Lee, Grace Lee, Jenny Lee, Duyen Nguyen, Karen Padua, and Jackie White, all came together with many goals, but most importantly with the intent of love and friendship.<br><br>

            ASA, Asian Sorority Association, was created in the years prior. The esteemed women of this organization worked hard to find and create a sorority that best suited their ideals. alpha Kappa Delta Phi extended a bid to these women and gave them the opportunity to be part of the largest nationwide Asian-interest sorority. Through hard work and dedication these women crossed into the eternal friendship that aKDPhi had offered them.<br><br>

            Since the Spring of 2000, alpha Kappa Delta Phi at the University of Illinois at Urbana-Champaign has grown and flourished into a strong organization with the ability to impact the community as well as the U of I campus. The sisters of alpha Kappa Delta Phi are thankful for what our founding sisters have created for us and hope to continue being role models for all men and women both on and off campus.</p>
          </div> <!-- end chapter history -->

        </div> <!-- end row -->

      </div> <!-- end container -->

    </section> <!-- end main section -->



    <footer id="footer"></footer>


      <!-- Load scripts -->
      <script src="../js/jquery-3.0.0.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#header").load("../partials/header.html");
          $("#footer").load("../partials/footer.html");
      });
      </script>
      <script src="../js/jquery.js"></script>
      <script src="../js/jquery.min.js"></script>
      <script src="../js/jquery.easing.min.js"></script>
      <script src="../js/jquery.scrollTo.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/bootstrap.js"></script>
      <script src="../js/bootstrap.min.js"></script>



    </body>
</html>
