<!DOCTYPE html>
<html>
  <head>
    <!--fonts-->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UIUC aKDPhi | Upsilon Chapter</title>

    <!-- Stylesheets -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/philanthropy.css"> <!-- philanthropy stylsheet -->
    <link rel="stylesheet" href="../css/style.css"> <!-- Main stylesheet -->
  </head>



  <!-- Load navigation-->
  <header>
    <div id="header"></div>
  </header>


  <body id="page-top">

  <!-- Main header - styling in style.css -->
    <div class="subheading philanthropy-header">
      <div class="header-content">
        <div class="header-inner-content">
        </div>
      </div>
    </div>

    <!-- Page title -->
    <div class="title">
      <div class="container">
        <h1>Philanthropy</h1>
      </div>
    </div>



    <!-- About aKDPhi and BCA -->
    <section id="bca-introduction">

      <div class="container">

        <div class="row">

            <h1>Breast Cancer Awareness</h1> 
            <!-- <div id="main-img"><img id="bca" src='./images/about/philanthropy/avon.png'></div> -->

            alpha Kappa Delta Phi is a proud exclusive member of the Avon Breast Cancer Crusade. Nationwide, we have raised over $250,000 throughout the years for breast cancer research. During National Breast Cancer Awareness Month in October, you can find us fundraising on the Quad - from Thai iced tea to rice bowls and more! We also sell BCA shirts that we design ourselves. Rain or shine, we are out there every day of the month raising funds and educating the community about breast cancer awareness. <br></br>

            All proceeds are donated to the Avon Breast Cancer Crusade. The Avon Foundation for Women will put these funds to very good use, with a focus on making sure women and men get the care and treatment they need regardless of their ability to pay and to ultimately find a cure for breast cancer. You can learn more about the Foundation at <a href="avonfoundation.org">avonfoundation.org</a>.<br></br>

            For more information on our philanthropy, please feel free to contact our VP Service at <a href="mailto:uiuc.kdphi.service@gmail.com">uiuc.kdphi.service@gmail.com</a>!

        </div> <!-- end row -->

      </div> <!-- end container -->

    </section> <!-- end about section-->



    <!-- Images -->
    <section id="bca-images">

      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src='./images/about/philanthropy/bca.jpg'>
          </div>
          <div class="col-md-3">
            <img src='./images/about/philanthropy/sign.png'>
          </div>
          <div class="col-md-3">
            <img src='./images/about/philanthropy/sales.jpg'>
          </div>
          <div class="col-md-3">
            <img src='./images/about/philanthropy/shirts.jpg'>
          </div>
        </div> <!-- end row -->
      </div> <!-- end container -->

    </section>

    <!-- section about BCDA -->
    <section id="date-auction">

      <div class="container">

        <div class="row">

          <!-- Description -->
          <div class="col-md-7">
            <h1>Breast Cancer Date Auction</h1><br>
            <p class="text-justify">Our biggest event for National Breast Cancer Awareness Month is our annual Breast Cancer Date Auction. Sisters, as well as volunteers from other Greek organizations and Asian American organizations, are auctioned off with promises of fine dining, home cooking, personal tutoring, guitar lessons, and much more. With silent auctions, raffles, guest speakers and performances including Dance2XS, The Other Guys, Girls Next Door, and much more, our annual Breast Cancer Date Auction is great opportunity for people to enjoy themselves and help support the battle against breast cancer.</p>
          </div>

          <!-- Images from past BCDA's-->
          <div class="col-md-5">

            <!-- Left column -->
            <div id="left" class="col-md-6">
              <img id="top" src='./images/about/philanthropy/gnd.jpg'><br>
              <img src='./images/about/philanthropy/yoyo.jpg'>
            </div> <!-- end left col -->

          <!-- Right column -->
          <div id="right" class="col-md-6">
            <img src='./images/about/philanthropy/auction.jpg'>
          </div> <!-- end right col -->

        </div> <!-- end images -->

      </div> <!-- end row -->

    </div> <!-- end container -->

    </section> <!-- end BCDA -->




    <!-- Calendar for BCA events. Uncomment during the month of October, connect to BCA calendar in Google Calendars. -->

<!--
     <section id="calendar">
        <iframe src="https://www.google.com/calendar/embed?src=jda6g2r94l69aqe770pfe68gko%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </section>
-->


    <footer id="footer"></footer>


      <!-- Load scripts -->
      <script src="../js/jquery-3.0.0.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#header").load("../partials/header.html");
          $("#footer").load("../partials/footer.html");
      });
      </script>
      <script src="../js/jquery.js"></script>
      <script src="../js/jquery.min.js"></script>
      <script src="../js/jquery.easing.min.js"></script>
      <script src="../js/jquery.scrollTo.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/bootstrap.js"></script>
      <script src="../js/bootstrap.min.js"></script>


    </body>
</html>
