<!DOCTYPE html>
<html>
  <head>
    <!--fonts-->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UIUC aKDPhi | Upsilon Chapter</title>

    <!-- Stylesheets -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/philanthropy.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>

  <header>
    <div id="header"></div>
  </header>

  <body id="page-top">

    <div class="subheading philanthropy-header">
      <div class="header-content">
        <div class="header-inner-content">
          <h1 class="subtitle">Philanthropy</h1>
        </div>
      </div>
    </div>


    <section id="bca-introduction">
      <div class="container">
        <div class="row">
          <h1>Breast Cancer Awareness</h1>
          <div class="col-md-4">
            <img id="bca" src='./images/about/philanthropy/avon.png'>
          </div>
          <div class="col-md-8">
            alpha Kappa Delta Phi is a proud exclusive member of the Avon Breast Cancer Crusade. Nationwide, we have raised over $250,000 throughout the years for breast cancer research. At the University of Illinois, fall is a busy time of year for us as we gear up for National Breast Cancer Awareness Month in October. We kick off the new school year by volunteering in Walk for Hope and Race for the Cure in Chicago. You can also find our alums participating in the races! As we volunteer with other Midwest aKDPhi sisters from University of Illinois, Chicago, Purdue University, and University of Chicago, these charity events allow us to see fellow sisters as well as our alums while raising money for a good cause. Back on campus, you can find us every October on the Quad selling BCA t-shirts that we design ourselves. Rain or shine, we are out there every day of the month. We also sell pink ribbon pins and on some days, BCA cupcakes!
          </div>
        </div>
      </div>
    </section>

    <section id="bca-images">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src='./images/about/philanthropy/volunteer.jpg'>
          </div>
          <div class="col-md-3">
            <img src='./images/about/philanthropy/cupcakes.jpg'>
          </div>
          <div class="col-md-3">
            <img src='./images/about/philanthropy/sales.jpg'>
          </div>
          <div class="col-md-3">
            <img src='./images/about/philanthropy/volunteer2.jpg'>
          </div>
        </div>
      </div>
    </section>

    <section id="date-auction">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>Breast Cancer Date Auction</h1><br>
            <p class="text-justify">Our biggest event for National Breast Cancer Awareness Month is our annual Breast Cancer Date Auction. Sisters, as well as volunteers from other Greek organizations and Asian American organizations, are auctioned off with promises of fine dining, home cooking, personal tutoring, guitar lessons, and much more. With silent auctions, raffles, guest speakers and performances including Dance2XS, The Other Guys, Girls Next Door, and much more, our annual Breast Cancer Date Auction is great opportunity for people to enjoy themselves and help support the battle against breast cancer.</p>
          </div>
          <div class="col-md-5">
            <div id="left" class="col-md-6">
              <img id="top" src='./images/about/philanthropy/gnd.jpg'><br>
              <img src='./images/about/philanthropy/yoyo.jpg'>
          </div>
          <div id="right" class="col-md-6">
            <img src='./images/about/philanthropy/auction.jpg'>
          </div>
        </div>
      </div>
    </div>
    </section>

<!--
     <section id="calendar">
        <iframe src="https://www.google.com/calendar/embed?src=jda6g2r94l69aqe770pfe68gko%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </section>
-->


    <footer id="footer"></footer>


      <!-- jQuery -->
      <script src="../js/jquery-3.0.0.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#header").load("../partials/header-views.html");
          $("#footer").load("../partials/footer.html");
      });
      </script>
      <script src="../js/jquery.js"></script>
      <script src="../js/jquery.min.js"></script>
      <script src="../js/jquery.easing.min.js"></script>
      <script src="../js/jquery.scrollTo.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/bootstrap.js"></script>
      <script src="../js/bootstrap.min.js"></script>


    </body>
</html>
