<!DOCTYPE html>
<html>
  <head>
    <!--fonts-->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UIUC aKDPhi | Upsilon Chapter</title>

    <!-- Stylesheets -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/recruitment.css"> <!-- rush styleshet -->
    <link rel="stylesheet" href="../css/style.css"> <!-- main stylesheet -->
    </head>

    <!-- navigation-->
    <header>
      <div id="header"></div>
    </header>


  <body id="page-top">
 
  <!-- main header -->
    <div class="main-heading rush-header">
      <div class="header-content">
        <div class="header-content-inner">
        </div>
      </div>
    </div>


    <!-- Title --> 
    <div class="title">
      <div class="container">
        <h1>recruitment</h1>
      </div>
    </div>
    

    <!--Introduction-->
    <section id="title">
      <h1>University of Illinois at Urbana-Champaign aKDPhi presents:</h1>
      <div class="wrapper">
        <h1>Spring 2018 Rush | Spring Into Sisterhood</h1>
      </div>
    </section>

    <!--Rush Info-->
    <section id="info">
      <div class="container">
        <h1>What is Rush?</h1>
        <p>Rush is the time when girls who are interested in joining alpha Kappa Delta Phi here at UIUC can come out to various events and meet the sisters of aKDPhi! All rush events are free and there is no obligation to join if you attend.</p>
      </div>
    </section>



    <!--Rush Events-->
    <section id="rush">
      <h1>Spring 2018 Rush Events</h1>

        <!-- Rush flyer --> 
        <img src="./images/rush/sp18.jpg"><br>


      <!-- Events - copy and pasted from the Facebook event page. -->
      <div class="container">
        <div class="row">
            <p2>Tues. 1/16 – DIY with aKDPhi</p2><br>
            <p3>6:00 PM ❀ Illini Union Room 314B</p3><br>
            <p>Feeling creative? Help the sisters of aKDPhi kick off rush and make your own flower crown!</p>

            <p2>Thurs. 1/18 – Ready, Set, Roll! (INFO NIGHT)</p2><br>
            <p3>6:00 PM ❀ AACC Kitchen</p3><br>
            <p>Had a crabby day? Roll with us and make your own sushi at our bi-annual Sushi Night!</p>

            <p2>Fri. 1/19 – Let’s Taco ‘Bout It</p2><br>
            <p3>6:00 PM ❀ Illini Union</p3><br>
            <p>Spice up your weekend and enjoy tacos with us and the brothers of UIUC Lambda Phi Epsilon!</p>

            <p2>Mon. 1/22 – Go for the Win</p2><br>
            <p3>7:00 PM ❀ Illini Union</p3><br>
            <p>It’s win-tertime. Join us for a friendly game night with the brothers of UIUC Chi Sigma Tau!</p>

            <p2>Wed. 1/24 – Henna Night (INFO NIGHT)</p2><br>
            <p3>6:00 PM ❀ AACC Activities Office</p3><br>
            <p>Get over your hump day with some henna tattoos! Come doodle with henna while learning more about our sorority!</p>

            <p2> Fri. 1/26 – Sister 101 (INFO NIGHT)</p2><br>
            <p3>6:00 PM ❀ AACC Kitchen</p3><br>
            <p>Quick, rotate! Get to know each of the sisters through a round of speed dating.</p>

            <p2>Sat. 1/27 – Mocktails (Invite only)</p2><br>
            <p3>6:00 PM ❀ TBA</p3><br>
            <p>Start the night right! Get pampered by the sisters while getting to know them on a more personal level.</p>

            <p2>Mon. 1/29 – Think Pink!</p2><br>
            <p3>6:00 PM ❀ Illini Union Room 104</p3><br>
            <p>Find out more about our philanthropy, the Avon Breast Cancer Crusade, while creating your own Pom Pom Keychains! </p>

            <p2>Tues. 1/30 – Sisterhood Potluck</p2><br>
            <p3>5:30 PM ❀ TBA</p3><br>
            <p>Celebrate the end of rush with some yummy dishes prepared by our very own sisters! Interview sign-ups also available.</p><br>

            <p1>**Attendance to an Info Night, Sisterhood Potluck, along with two additional events is strongly recommended for those interested in an interview. Rides are provided 15 minutes before each event, don't hesitate to ask!</p1>
        </div>
      </div>
    </section>

    <section id="interest-form-div">
      <div class="container" id="interest-form">
        <p>Want to learn more about alpha Kappa Delta Phi? Contact any one of our rush chairs or fill out the form below!</p>
      </div>
      <iframe src="https://docs.google.com/forms/d/1eE08yJDQB_CGVKe3ftCjXg0D5O9kRmltO2S4wfqNkew/viewform?embedded=true" width="1000" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </section>


    <!-- Additional information: rush chair contact info, links to Faebook and instagram, map to AACC -->
    <div id="more-info-title"> <!-- title -->
      <h1>For More Info:</h1>
    </div>

    <section id="more-info">
      <div class="container">
        <div class="row">

        <!-- Rush chair contact info --> 
          <div id="column-1" class="col-sm-6" style="text-center">
            <h1>Contact one of our rush chairs!</h1>
                <a href="https://www.facebook.com/nataliefine55" target="_blank">Natalie Fine</a><br>
                <a href="https://www.facebook.com/hitomi.hayashi.90" target="_blank">Hitomi Hayashi</a><br>
                <a href="https://www.facebook.com/tiamang0" target="_blank">Tia Mangahas</a><br>
                <a href="https://www.facebook.com/tasha.sheng" target="_blank">Tasha Wang</a><br>
          </div>

          <!-- Social Media -->
<!--           <div id="column-2" class="col-md-4 col-sm-offset-0.5">
            <p>
              <a href="https://www.facebook.com/pg/uiuc.akdphi">
              <img src="./images/rush/facebook.jpg"></a>
            </p>
            <p>
              <a href="http://www.instagram.com/uiucakdphi">
              <img src="./images/rush/instagram.jpg"></a>
            </p>
          </div> -->

          <!-- AACC details -->
          <div id="column-3" class="col-sm-6">
            <a href="http://illinois.edu/map/view?skinId=0&ACTION=MAP&buildingId=1145">
            <img src="./images/rush/aacc.png"></a>
            <p>Asian American Cultural Center (AACC)</br>
            1210 West Nevada Street, MC-149 <br>
            Urbana, Illinois 61801</p>
          </div>
          
        </div>
      </div>
    </section>


    <footer id="footer"></footer>

      <!-- Load scripts -->
      <script src="../js/jquery-3.0.0.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#header").load("../partials/header.html");
          $("#footer").load("../partials/footer.html");
      });
      </script>

      <script src="../js/jquery.js"></script>
      <script src="../js/jquery.min.js"></script>
      <script src="../js/jquery.easing.min.js"></script>
      <script src="../js/jquery.scrollTo.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/bootstrap.js"></script>
      <script src="../js/bootstrap.min.js"></script>



    </body>
</html>
