<!DOCTYPE html>
<html>
  <head>
    <!--fonts-->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UIUC aKDPhi | Upsilon Chapter</title>

    <!-- Stylesheets -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/recruitment.css"> <!-- rush styleshet -->
    <link rel="stylesheet" href="../css/style.css"> <!-- main stylesheet -->
    </head>

    <!-- navigation-->
    <header>
      <div id="header"></div>
    </header>


  <body id="page-top">
 
  <!-- main header -->
    <div class="main-heading rush-header">
      <div class="header-content">
        <div class="header-content-inner">
        </div>
      </div>
    </div>


    <!-- Title --> 
    <div class="title">
      <div class="container">
        <h1>recruitment</h1>
      </div>
    </div>

     <section class="background-gray">
      <div class="container">
        <p>Check back for more updates on Fall 2017 Rush! If you'd like to learn more, contact any one of our rush chairs or fill out the form below!</p>
      </div>
    </section>

    <section>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfSoql7aqlqai_Pj_Xvm-xagEGj8BALps3AYd8OQC5dOlUrsg/viewform?embedded=true" width="1000" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </section>
    

    <!--Introduction-->
    <!-- <section id="title">
      <h1>University of Illinois at Urbana-Champaign aKDPhi presents:</h1>
      <div class="wrapper">
        <h1>Spring 2017 Rush | Find Your Inspiration</h1>
      </div>
    </section> -->

    <!--Rush Info-->
    <section id="info">
      <div class="container">
        <h1>What is Rush?</h1>
        <p>Rush is the time when girls who are interested in joining alpha Kappa Delta Phi here at UIUC can come out to various events and meet the sisters of aKDPhi! All rush events are free and there is no obligation to join if you attend.</p>
      </div>
    </section>



    <!--Rush Events-->
    <!-- <section id="rush">
      <h1>Spring 2017 Rush Events</h1> -->

        <!-- Rush flyer --> 
        <!-- <img src="./images/rush/sp17.jpg"><br> -->


      <!-- Events - copy and pasted from the Facebook event page. -->
      <!-- <div class="container">
        <div class="row"> -->
          <!--<div id="events" class="col-md-6">-->
            <!-- <p2>Tues. 1/17 – DIY Room Decor with aKDPhi (INFO Night)</p2><br>
            <p3>6:00PM @ AACC Lounge & Kitchen</p3><br>
            <p>Do you like crafting? Come show off your creative side with sisters and make cute decorative wall letters for your room!</p>

            <p2>Wed. 1/18 – Henna Night</p2><br>
            <p3>7:00PM @ Illini Union</p3><br>
            <p>Too scared to get a tattoo? Don't worry! Come and get to know the sisters as we deck out our hands in henna designs!</p>

            <p2>Thurs. 1/19 – Let’s Taco ‘bout It with UIUC LPhiE</p2><br>
            <p3>7:00PM @ Illini Union</p3><br>
            <p>Craving some tacos? You’re in luck! Come join us and the brothers of Lambda Phi Epsilon as we chat and chow down on some tacos!</p>

            <p2>Fri. 1/20 – Let the Good Times Roll (INFO night)</p2><br>
            <p3>6:00PM @ AACC Lounge & Kitchen</p3><br>
            <p>Quick, rotate! Get to know each of the sisters through a round of speed dating as we sip on some hot chocolate!</p>

            <p2>Mon. 1/23 – SISTER 101</p2><br>
            <p3>7:00PM @ Illini Union</p3><br>
            <p>Get your roll on with the sisters at our bi-annual sushi night while learning more about our sorority!</p><br>

            <p2>Tues. 1/24 – Put Your Game Face On with UIUC CST</p2><br>
            <p3>7:00PM @ Illini Union</p3><br>
            <p>Bring out your competitive side during game night with the brothers of Chi Sigma Tau!</p>

            <p2>Wed. 1/25 – DIY Tumbler with aKDPhi (INFO Night)</p2><br>
            <p3>6:00PM @ AACC Activities Room</p3><br>
            <p>Missed our first DIY? Don’t worry, we’ve got you covered! Come get artsy with us and decorate with your own tumblers!</p>

            <p2>Thurs. 1/26 – Sisterhood Potluck</p2><br>
            <p3>7:00PM @ AACC Lounge & Kitchen</p3><br>
            <p>Come celebrate the end of rush with some delicious dishes prepared by our very own sisters! Interview sign-ups also available.</p>

            <p2>Sisterhood Soiree (Invite Only)</p2><br>
            <p3>6:00pm @ TBA</p3><br>
            <p>Start the weekend off right! Get pampered by the sisters while getting to know them on a more personal level.</p><br>

            <p1>**Attendance to an Info Night, Sisterhood Potluck, along with two additional events is strongly recommended for those interested in an interview. Rides are provided 15 minutes before each event, don't hesitate to ask!</p1>
        </div>
      </div>
    </section> -->



    <!-- Additional information: rush chair contact info, links to Faebook and instagram, map to AACC -->
    <div id="more-info-title"> <!-- title -->
      <h1>For More Info:</h1>
    </div>

    <section id="more-info">
      <div class="container">
        <div class="row">

        <!-- Rush chair contact info --> 
          <div id="column-1" class="col-md-4" style="text-center">
            <h1>Contact one of our rush chairs!</h1>
                <a href="https://www.facebook.com/teresaa.k.liu" target="_blank">Teresa Liu</a><br>
                <a href="https://www.facebook.com/hitomi.hayashi.90" target="_blank">Hitomi Hayashi</a><br>
                <a href="https://www.facebook.com/omgitsCAROL" target="_blank">Carol Zhu</a><br>
                <a href="https://www.facebook.com/cindy.qi.52" target="_blank">Cynthia Qi</a><br>
          </div>

          <!-- Social Media -->
          <div id="column-2"class="col-md-4 col-sm-offset-0.5">
            <p>
              <a href="https://www.facebook.com/pg/uiuc.akdphi">
              <img src="./images/rush/facebook.jpg"></a>
            </p>
            <p>
              <a href="http://www.instagram.com/uiucakdphi">
              <img src="./images/rush/instagram.jpg"></a>
            </p>
          </div>

          <!-- AACC details -->
          <div id="column-3" class="col-md-4">
            <a href="http://illinois.edu/map/view?skinId=0&ACTION=MAP&buildingId=1145">
            <img src="./images/rush/aacc.png"></a>
            <p>Asian American Cultural Center (AACC)</br>
            1210 West Nevada Street, MC-149 <br>
            Urbana, Illinois 61801</p>
          </div>
          
        </div>
      </div>
    </section>


    <footer id="footer"></footer>

      <!-- Load scripts -->
      <script src="../js/jquery-3.0.0.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#header").load("../partials/header.html");
          $("#footer").load("../partials/footer.html");
      });
      </script>

      <script src="../js/jquery.js"></script>
      <script src="../js/jquery.min.js"></script>
      <script src="../js/jquery.easing.min.js"></script>
      <script src="../js/jquery.scrollTo.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/bootstrap.js"></script>
      <script src="../js/bootstrap.min.js"></script>



    </body>
</html>
