<!DOCTYPE html>
<html>
  <head>
    <include virtual="about.html">
    <!--fonts-->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UIUC aKDPhi | Upsilon Chapter</title>

    <!-- Stylesheets -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/sisters.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>

  <header>
    <div id="header"></div>
  </header>

  <body id="page-top">
    <div class="main-heading sisters-header">
      <div class="header-content">
        <div class="header-content-inner">
        </div>
      </div>
    </div>


    <div class="title">
      <div class="container">
        <h1>sisters</h1>
      </div>
    </div>

    <!--Active House profiles-->
    <section id="profiles" style="text-center">
      <h1>Meet the Fall 2016 Active House!</h1>
      <p>Click on a sister to learn more about her!</p>

      <div class="container">

      <!--Row 1-->
      <div class="row">
        <div class="col-md-3 col-sm-offset-0.5">
          <a href="profiles/sarahpark.html">
          <img id="profile" src="./images/sisters/square/sarah_p.jpg"></a>
          <h2>#99 Sarah Park</h2>
        </div>
        <div class="col-md-3 col-sm-offset-0.5">
          <a href="profiles/anitarong.html">
          <img id="profile" src="./images/sisters/square/anita.jpg"></a>
          <h2>#101 Anita Rong</h2>
        </div>
        <div class="col-md-3 col-sm-offset-0.5">
          <a href="profiles/cindytan.html">
          <img id="profile" src="./images/sisters/square/cindy.jpg"></a>
          <h2>#103 Cindy Tan</h2>
        </div>
        <div class="col-md-3">
          <a href="profiles/jennytan.html">
          <img id="profile" src="./images/sisters/square/jenny.jpg"></a>
          <h2>#104 Jenny Tan</h2>
        </div>
      </div>

      <!--Row 2-->
      <div class="row">


      </div>

      <!--Row 3-->
      <div class="row">
        <div class="col-md-3 col-sm-offset-0.5">
          <a href="profiles/vanessawang.html">
          <img id="profile" src="./images/sisters/square/vanessa.jpg"></a>
          <h2>#105 Vanessa Wang</h2>
        </div>
        <div class="col-md-3 col-sm-offset-0.5">
          <a href="profiles/viviancao.html">
          <img id="profile" src="./images/sisters/square/vivian.jpg"></a>
          <h2>#106 Vivian Cao</h2>
        </div>
        <div class="col-md-3 col-sm-offset-0.5">
          <a href="profiles/amyou.html">
          <img id="profile" src="./images/sisters/square/amy.jpg"></a>
          <h2>#109 Amy Ou</h2>
        </div>
        <div class="col-md-3">
          <a href="profiles/jasminewang.html">
          <img id="profile" src="./images/sisters/square/jasmine.jpg"></a>
          <h2>#111 Jasmine Wang</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-offset-0.5">
          <a href="profiles/marissacasaclang.html">
          <img id="profile" src="./images/sisters/square/marissa.jpg"></a>
          <h2>#113 Marissa Casaclang</h2>
        </div>
        <div class="col-md-3 col-sm-offset-0.5">
          <a href="profiles/sallywu.html">
          <img id="profile" src="./images/sisters/square/sally.jpg"></a>
          <h2>#116 Sally Wu</h2>
        </div>
        <div class="col-md-3 col-sm-offset-0.5">
          <a href="profiles/crystalzhang.html">
          <img id="profile" src="./images/sisters/square/crystal.jpg"></a>
          <h2>#117 Crystal Zhang</h2>
        </div>
        <div class="col-md-3">
          <a href="profiles/carolzhu.html">
          <img id="profile" src="./images/sisters/square/carol.jpg"></a>
          <h2>#118 Carol Zhu</h2>
        </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <a href="profiles/dianazhu.html">
        <img id="profile" src="./images/sisters/square/diana.jpg"></a>
        <h2>#119 Diana Zhu</h2>
      </div>
    </div>

    </div>

    </section>


    <!--Officer Board-->
    <section id="board">
      <h1>Officer Board Fall 2016</h1>
      <div class="container">
        <div class="row text-center">

          <!--Exec-->
          <div class="col-md-5">
            <h1>Executive Board</h1>
            <div class="wrapper">
              <div id="inner-wrapper" class="wrapper">
            <h2>President</h2>
            <p>Anita Rong</p>
            <hr>
            <h2>VP Internal</h2>
            <p>Jasmine Wang</p>
            <hr>
            <h2>VP External</h2>
            <p>Cindy Tan</p>
            <hr>
            <h2>VP Service</h2>
            <p>Vivian Cao</p>
            <br>
            </div>
          </div>
          </div>

          <!--Cabinet-->
          <div id="cabinet" class="col-md-6 col-sm-offset-0.5">
            <h1>Cabinet Board</h1>
            <div class="wrapper">
            <div id="left" class="col-md-6">
                <h2>Treasurer</h2>
                <p>Sally Wu</p><br>

                <h2>Secretary</h2>
                <p>Marissa Casaclang</p><br>

                <h2>Fundraising Chair</h2>
                <p>Amy Ou</p><br>

                <h2>Asian Awareness Chair</h2>
                <p>Crystal Zhang</p>
                <p>Carol Zhu</p><br>

                <h2>Webmistress</h2>
                <p>Vanessa Wang</p><br>

                <h2>Publicity Chair</h2>
                <p>Anita Rong</p>
                <p>Vanessa Wang</p><br>

                <h2>Sergeant of Arms</h2>
                <p>Sally Wu</p><br>
            </div>

          <div id="right" class="col-md-6">
                <h2>Alum Chair</h2>
                <p>Diana Zhu</p><br>

                <h2>Academic Chair</h2>
                <p>Vanessa Wang</p>
                <p>Crystal Zhang</p><br>

                <h2>Sisterhood Chair</h2>
                <p>Amy Ou</p>
                <p>Carol Zhu</p><br>

                <h2>Historian</h2>
                <p>Marissa Casaclang</p><br>

                <h2>Stroll/Step Mistresses</h2>
                <p>Cindy Tan</p>
                <p>Sally Wu</p><br>

                <h2>Rush Chairs</h2>
                <p>Jenny Tan</p>
                <p>Amy Ou</p>
                <p>Sally Wu</p>
                <p>Diana Zhu</p><br>
          </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer"></footer>

      <!-- jQuery -->
      <script src="../js/jquery-3.0.0.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#header").load("../partials/header.html");
          $("#footer").load("../partials/footer.html");
      });
      </script>
      <script src="../js/jquery.js"></script>
      <script src="../js/jquery.min.js"></script>
      <script src="../js/jquery.easing.min.js"></script>
      <script src="../js/jquery.scrollTo.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/bootstrap.js"></script>
      <script src="../js/bootstrap.min.js"></script>

    </body>
</html>
