<!DOCTYPE html>
<html>
  <head>
    <include virtual="about.html">
    <!--fonts-->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UIUC aKDPhi | Upsilon Chapter</title>

    <!-- Stylesheets -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/sisters.css"> <!-- sisters page stylsheet -->
    <link rel="stylesheet" href="../css/style.css"> <!-- main stylesheet -->
  </head>

  <!-- navigation -->
  <header>
    <div id="header"></div>
  </header>


  <!-- main header -->
  <body id="page-top">
    <div class="main-heading sisters-header">
      <div class="header-content">
        <div class="header-content-inner">
        </div>
      </div>
    </div>


    <div class="title">
      <div class="container">
        <h1>sisters</h1>
      </div>
    </div>

    <!--Active House profiles-->
    <section id="profiles" style="text-center">
      <h1>Meet the Fall 2017 Active House!</h1>
      <p>Click on a sister to learn more about her!</p>

      <div class="container">


      <!--Row 1-->
      <div class="row">
        <div class="col-md-3">
          <a href="profiles/jennytan.html">
          <img id="profile" src="./images/sisters/square/jenny.jpg"></a>
          <h2>#104 Jenny Tan</h2>
        </div>
        <div class="col-md-3">
          <a href="profiles/vanessawang.html">
          <img id="profile" src="./images/sisters/square/vanessa.jpg"></a>
          <h2>#105 Vanessa Wang</h2>
        </div>
        <div class="col-md-3">
          <a href="profiles/teresaliu.html">
          <img id="profile" src="./images/sisters/square/teresa.jpg"></a>
          <h2>#108 Teresa Liu</h2>
        </div>
        <div class="col-md-3">
          <a href="profiles/cynthiaqi.html">
          <img id="profile" src="./images/sisters/square/cynthia.jpg"></a>
          <h2>#110 Cynthia Qi</h2>
        </div>
      </div>

      <!--Row 2-->
      <div class="row">
        <div class="col-md-3">
          <a href="profiles/hitomihayashi.html">
          <img id="profile" src="./images/sisters/square/hitomi.jpg"></a>
          <h2>#114 Hitomi Hayashi</h2>
        </div>
        <div class="col-md-3">
          <a href="profiles/tiamangahas.html">
          <img id="profile" src="./images/sisters/square/tia.jpg"></a>
          <h2>#115 Tia Mangahas</h2>
        </div>
        <div class="col-md-3">
          <a href="profiles/sallywu.html">
          <img id="profile" src="./images/sisters/square/sally.jpg"></a>
          <h2>#116 Sally Wu</h2>
        </div>
        <div class="col-md-3">
          <a href="profiles/carolzhu.html">
          <img id="profile" src="./images/sisters/square/carol.jpg"></a>
          <h2>#118 Carol Zhu</h2>
        </div>
    </div>

    <!--Row 3-->
    <div class="row">
        <div class="col-md-3">
          <a href="profiles/dianazhu.html">
          <img id="profile" src="./images/sisters/square/diana.jpg"></a>
          <h2>#119 Diana Zhu</h2>
        </div>
        <div class="col-md-3">
          <a href="profiles/michellecheung.html">
          <img id="profile" src="./images/sisters/square/michelle.jpg"></a>
          <h2>#120 Michelle Cheung</h2>
        </div>
        <div class="col-md-3">
          <a href="profiles/cathlynferolin.html">
          <img id="profile" src="./images/sisters/square/cathlyn.jpg"></a>
          <h2>#121 Cathlyn Ferolin</h2>
        </div>
        <div class="col-md-3">
          <a href="profiles/sunnylee.html">
          <img id="profile" src="./images/sisters/square/sunny.jpg"></a>
          <h2>#122 Sunny Lee</h2>
        </div>
    </div>

    <!--Row 4-->
    <div class="row">
      <div class="col-md-3">
          <a href="profiles/tiffanyliu.html">
          <img id="profile" src="./images/sisters/square/tiffany.jpg"></a>
          <h2>#123 Tiffany Liu</h2>
      </div>
      <div class="col-md-3">
        <a href="profiles/kellytang.html">
        <img id="profile" src="./images/sisters/square/kelly.jpg"></a>
        <h2>#124 Kelly Tang</h2>
      </div>
    </div>

    </div>

    </section>


    <!--Officer Board-->
    <section id="board">
      <h1>Officer Board Fall 2017</h1>
      <div class="container">
        <div class="row text-center">

          <!--Exec-->
          <div class="col-md-5">
            <h1>Executive Board</h1>
            <div class="wrapper">
              <div id="inner-wrapper" class="wrapper">

                <h2>President</h2>
                <p>Sally Wu</p>
                <hr>

                <h2>VP Internal</h2>
                <p>Vanessa Wang</p>
                <hr>

                <h2>VP External</h2>
                <p>Diana Zhu</p>
                <hr>

                <h2>VP Service</h2>
                <p>Teresa Liu</p>
                <hr>

                <h2>VP Finance</h2>
                <p>Hitomi Hayashi</p>
                <br>

            </div>
          </div>
          </div>

          <!--Cabinet-->
          <div id="cabinet" class="col-md-6 col-sm-offset-0.5">
            <h1>Cabinet Board</h1>
            <div class="wrapper">
            <div id="left" class="col-md-6">

                <h2>Secretary</h2>
                <p>Hitomi Hayashi</p><br>

                <h2>Fundraising Chair</h2>
                <p>Teresa Liu</p>
                <p>Cynthia Qi</p><br>

                <h2>Asian Awareness Chair</h2>
                <p>Tia Mangahas</p>
                <p>Michelle Cheung</p>
                <p>Cathlyn Ferolin</p><br>

                <h2>Webmistress</h2>
                <p>Vanessa Wang</p>
                <p>Cynthia Qi</p><br>

                <h2>Publicity Chair</h2>
                <p>Cynthia Qi</p>
                <p>Kelly Tang</p><br>

                <h2>Sergeant of Arms</h2>
                <!-- <p>Marissa Casaclang</p><br> -->

            </div>

          <div id="right" class="col-md-6">

                <h2>Alum Chair</h2>
                <p>Sunny Lee</p><br>

                <h2>Academic Chair</h2>
                <p>Tiffany Liu</p><br>

                <h2>Sisterhood Chair</h2>
                <p>Tia Mangahas</p>
                <p>Cynthia Qi</p><br>

                <h2>Historian</h2>
                <p>Teresa Liu</p>
                <p>Kelly Tang</p><br>

                <h2>Performance Chair</h2>
                <p>Tiffany Liu</p>
                <p>Cathlyn Ferolin</p>
                <p>Sunny Lee</p><br>

                <h2>Rush Chairs</h2>
                <p>Teresa Liu</p>
                <p>Cynthia Qi</p>
                <p>Hitomi Hayashi</p>
                <p>Carol Zhu</p><br>

          </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer"></footer>

      <!-- Load scripts -->
      <script src="../js/jquery-3.0.0.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#header").load("../partials/header.html");
          $("#footer").load("../partials/footer.html");
      });
      </script>
      <script src="../js/jquery.js"></script>
      <script src="../js/jquery.min.js"></script>
      <script src="../js/jquery.easing.min.js"></script>
      <script src="../js/jquery.scrollTo.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/bootstrap.js"></script>
      <script src="../js/bootstrap.min.js"></script>

    </body>
</html>
