<!DOCTYPE html>
<html>
  <head>
    <!--fonts-->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UIUC aKDPhi | Upsilon Chapter</title>

    <!-- Stylesheets -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
  </head>

  <header>
    <div id="header"></div>
  </header>


  <body id="page-top">

    <div class="subheading thanks-heading">
      <div class="header-content">
        <div class="header-inner-content">
          <h1>Thanks! Your message has been sent.</h1>
          <a href="/index.html">Back to Home</a>
        </div>
      </div>
    </div>


  <footer id="footer"></footer>


    <!-- jQuery -->
    <script src="../js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#header").load("../partials/header.html");
        $("#footer").load("../partials/footer.html");
    });
    </script>
    <script src="../js/jquery.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/jquery.scrollTo.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/bootstrap.min.js"></script>



  </body>
</html>
