html,body {
    height:100%;
    font-family:'Mallanna','Helvetica Neue',Arial,sans-serif;
    font-size:18px;
}


ul.nav li.dropdown:hover ul.dropdown-menu {
            display: block;
}

.navbar-custom {
    margin: 0px;
    background-color:#FFFFFF;
    opacity:0.8;
}

.navbar-toggle
{
    border:1px solid #444;
}
.icon-bar
{
    display:block;
    width:22px;
    height:2px;
    border-radius:1px;
    border:1px solid #444;
}
.navbar-brand{
    padding:0px;
}
.navbar-brand img{
    height: 50px;
    width: 150px;
    padding:0px;
    float:left;
}
.nav.navbar-nav li a {
    text-transform:uppercase;
    font-family:'Quicksand','Helvetica Neue',Arial,sans-serif;
    font-size:18px;
    font-color:black;
    color:black;
}

.company-social{
    padding-bottom: 10px;
    text-align:right;
    list-style:none;
}

.company-social li{
    display:inline-block;
}

.company-social{
    margin-top:25px;
}

.company-social li a i, .contact-icon{
    color:gray;
}

footer {
    background-color:black;
    padding:0px;
    text-align:center;
    font-family:'Mallanna','Helvetica Neue',Arial,sans-serif;
}

headerp {
    text-align:left;
    color:gray;
    padding-top: 10px;
    margin: 0 0 10px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1 {
    text-transform:uppercase;
    font-size:50px;
    background-color:rgba(0,153,153,0.7);
    color:white;
    font-family:'Mallanna';
}

p{
  font-family:'Mallanna';
}

section img {
  width:800px;
}
